importFrom("utils", "head")
importFrom("utils", "tail")
import("tools")

export("check_packages",
       "build_packages",
       "R_Forge_control",
       "rforge_stats_read_logs",
       "rforge_server_info"
       )

S3method("print", "rforge_server_info")
S3method("print", "rforge_log")
S3method("tail", "rforge_log")
S3method("head", "rforge_log")
S3method("[", "rforge_log")
S3method("as.data.frame", "rforge_log")

## export("get_package_version_from_sources")
## export("build_tarball_from_sources")
## export("build_binary_from_sources")
